# sys folder
.gradle/
.vscode/
.idea/

# project folder
node_modules/
dist/
test/unit/coverage
test/e2e/reports
qsapp/
www/

# sys file
.DS_Store

# project file
*.js.map
*.zip
*.bin
*.iml
*.lock
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log
